cmake_minimum_required(VERSION 3.15)
project({module_name}_bindings)

set(PYBIND11_FINDPYTHON ON)

include(CPM.cmake)
cpmaddpackage("gh:pybind/pybind11@2.13.6")

pybind11_add_module({module_name} {module_name}.cpp)

target_compile_definitions({module_name} PRIVATE VERSION_INFO=${PROJECT_VERSION})
install(TARGETS {module_name} DESTINATION ${CMAKE_BINARY_DIR}/python_bindings)
